body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 60px;
}
h3{
    font-size: 25px;
    font-weight: 700;
}
.mission-declaration{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.color-golden{
    color: gold;
}
.border-line{
    border-left :5px solid red;

}
.screen-share{
    width: 50%;
    margin-bottom: 80px;
    padding: 20px;
}
.screen-share img{
    width: 75%;
    padding-left: 10%;
}
.intro-paragraph{
    text-align: justify;
    width: 70%;
    margin-bottom: 25px;
    
}
.flexible-container{
    display: flex;
    margin-bottom: 120px;
}
.read-button{
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 40px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
}
.first-button{
    margin-bottom: 35px;
}
.mission-section{
    
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    border-radius: 10px;
    height: 370px;
}

.mission-section img{
    width: 50%;
}
#mission-explain{
    background-color: #dbbcba;
    margin-left: 50px;
}
#vision-explain{
    background-color: #CCFFFF;

}

#goal-explain{
    background-color:  #FFF4D6;
    margin-right: 50px;
}